@mixin transition($value) {
    -webkit-transition: #{$value};
    -moz-transition: #{$value};
    -ms-transition: #{$value};
    -o-transition: #{$value};
    transition: #{$value};
}

@mixin transform($value) {
     -moz-transform: #{$value};
       -o-transform: #{$value};
      -ms-transform: #{$value};
  -webkit-transform: #{$value};
          transform: #{$value};
}

:host {
  position:absolute;
  text-align:center;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
  overflow:hidden;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-flow:row wrap;
  flex-flow:row wrap;
  -webkit-align-items:center;
  align-items:center;
}
svg{
  display:inline-block;
  vertical-align: middle;
  width: inherit;
}
.playpause-container{
  width:100%;
  -webkit-transition: -webkit-perspective .2s ease;
  -moz-transition: -moz-perspective .2s ease;
  transition: perspective .2s ease;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 40%;
  -moz-perspective-origin: 50% 40%;
  -ms-perspective-origin: 50% 40%;
  perspective-origin: 50% 40%;
}

.pause-container,.play-container{
  width:100%;
  position:absolute;
  top:0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  @include transition("-webkit-transform-origin 400ms cubic-bezier(0.260, 0.860, 0.440, 0.985), -webkit-transform 400ms cubic-bezier(0.260, 0.860, 0.440, 0.985), visibility 400ms cubic-bezier(0.260, 0.860, 0.440, 0.985), opacity 400ms cubic-bezier(0.260, 0.860, 0.440, 0.985)");
  @include transition("transform-origin 400ms cubic-bezier(0.260, 0.860, 0.440, 0.985), transform 400ms cubic-bezier(0.260, 0.860, 0.440, 0.985), visibility 400ms cubic-bezier(0.260, 0.860, 0.440, 0.985), opacity 400ms cubic-bezier(0.260, 0.860, 0.440, 0.985)");
}
.future{
  @include transform("translate3d(0, 100%, 0) rotateX(-90deg) translate3d(0, 100%, 0);");
  opacity:0;
}
.past{
  @include transform("translate3d(0, -100%, 0) rotateX(90deg) translate3d(0, -100%, 0);");
  opacity:0;
}
.dummy{
  opacity:0;
}